 <div class="details">
        <img  src={{this.model.Image}} class="expandimage" >
        <h2 class="title">Title -  {{this.model.title}} </h2>
        <input type="text" class="review" value={{this.model.review}}>
        <marquee width="70%"  height="10%" class="movieoverview">{{this.model.overview}}</marquee>
</div>